@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

nav {
    font-family: 'Electrolize', sans-serif;
    font-size: 40px;
    width: 100%;
}

body {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

/* MODAL */
.modal-container {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 40%;
    height: 270px;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
    border-radius: 10px;
    /* overflow: hidden; */
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #c44a4a;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
}

.modal-close {
    transform: translateY(-200%);
}
/* AASSADSADA */
.tittle {
    color: #f1f1f1;
    margin-top: 8px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.canvas {
    display: none;
    justify-content: center;
    text-align: center;
    width: 1200px;
    max-width: 1200px;
}

.canvas-image {
    background: #f1f1f1;
    width: 700px;
    height: 600px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.svg-image {
    width: 350px;
}

.histograma {
    display: none;
    padding: 10px 5px;
    margin: 15px 10px;
    background: #ffffff;
    border-radius: 5px;
}

.btn_container {
    display: block;
    margin-top: 15px;
}

.footer {
    position: relative;
    bottom: 0;
    background: #0f0c29;
    color: #f1f1f1;
    width: 100%;
    height: 107px;
    text-align: center;
    padding-top: 15px;
}